{% extends 'main.html' %}
{% block content %}
<div class="row">
    <div class="col s12 m6">
      <div class="card blue darken-1">
        <div class="card-content white-text">
        {% for post in post_list %}  
          <span class="card-title">{{ post.title }}</span>
          <h6> {{ post.author }} | {{ post.created_on }} </h6>
          <p>A Barca fan after Barca concedes 8 Goals.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
